.carousel {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  max-width: 100%;
  overflow-x: auto;
  position: relative;
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;

  @media (min-width: 768px) {
    width: 600px;
  }
}

.carousel-item {
  display: block;
  position: relative;
  scroll-snap-align: center;

  img {
    height: 100%;
    width: 600px;

    @media (max-width: 767px) {
      width: 90vw;
    }
  }
}
